body {
    font-family: Arial, sans-serif;
    background-color: #002147; /* Azul marinho */
    color: #ffffff; /* Cor do texto branco */
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff; /* Fundo branco para o conteúdo */
    padding: 20px;
    border-radius: 10px;
    color: #000000; /* Cor do texto preto */
}
h1 {
    text-align: center;
    color: #ff6347; /* Vermelho tomate */
}
.notice-text {
    text-align: center;
    color: #000000; /* Preto */
    margin-bottom: 20px;
}
img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
}
.phishing-image {
    max-width: 600px;
}
.points {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f8ff; /* Azul Alice */
}
.points h2 {
    color: #4682b4; /* Azul aço */
}
.points ul {
    color: #333333; /* Cinza escuro */
    font-size: 1.2em; /* Aumenta o tamanho do texto dos pontos */
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}
.footer img {
    max-width: 150px;
    margin: 10px;
}
.footer .left-image {
    align-self: flex-start;
}
.footer .right-image {
    align-self: flex-end;
}
.highlight-text {
    font-size: 1.2em; /* Aumenta o tamanho do texto */
    color: #ff6347; /* Vermelho tomate */
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
